.button {
    font-family: Calibri, sans-serif;
    font-size: 2.4rem;
    color: whitesmoke;
    cursor: pointer;
    background-color: #272B2E;
}

.memory-button {
    font-family: Calibri, sans-serif;
    font-size: 2rem;
    color: whitesmoke;
    cursor: pointer;
    background-color: #393939;
}

.eval-button {
    font-family: Calibri, sans-serif;
    font-size: 2.5rem;
    color: whitesmoke;
    cursor: pointer;
    background-color: #003b12;
    grid-column: span 2;
}

.button:hover {
    background-color: #323639;
}

.memory-button:hover {
    background-color: #444;
}

.eval-button:hover {
    background-color: #00452c;
}