.digit-button {
    font-family: Calibri, sans-serif;
    font-size: 2.4rem;
    color: whitesmoke;
    cursor: pointer;
    background-color: #1F1F1F;
}

.digit-button:hover {
    background-color: #292929;
}